<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>{{.Title}}</title>

        <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/bootstrap.css">
        <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/fonts/fonts.css">

        <link rel="stylesheet" href="{{ .Site.BaseURL }}/reveal.js/css/reveal.css">
        <link rel="stylesheet" href="{{ .Site.BaseURL }}/reveal.js/css/theme/white.css">

		<!-- Theme used for syntax highlighting of code -->
        <link rel="stylesheet" href="{{ .Site.BaseURL }}/reveal.js/lib/css/zenburn.css">
        <link rel="stylesheet" href="{{ .Site.BaseURL }}/reveal-style.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
            link.href = window.location.search.match( /print-pdf/gi ) ? '{{ .Site.BaseURL }}/reveal.js/css/print/pdf.css' : '{{.Site.BaseURL}}/reveal.js/css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				<section data-markdown
						 data-separator="^---"
						 data-separator-vertical="^--"
						 data-separator-notes="^Note:"
						data-charset="iso-8859-15">{{ .RawContent }}</section>
			</div>
		</div>

        <script src="/js/jquery-2.2.1.min.js"></script>
        <script src="{{.Site.BaseURL}}/reveal.js/lib/js/head.min.js"></script>
        <script src="{{.Site.BaseURL}}/reveal.js/js/reveal.js"></script>

		<script>
			// More info https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				history: true,

                slideNumber: true,

                transition: "zoom",
                transitionSpeed: "fast",

				// More info https://github.com/hakimel/reveal.js#dependencies
				dependencies: [
                    { src: '{{.Site.BaseURL}}/reveal.js/plugin/markdown/marked.js' },
                    { src: '{{.Site.BaseURL}}/reveal.js/plugin/markdown/markdown.js' },
                    { src: '{{.Site.BaseURL}}/reveal.js/plugin/notes/notes.js', async: true },
                    { src: '{{.Site.BaseURL}}/reveal.js/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
                    { src: '{{.Site.BaseURL}}/reveal.js/plugin/math/math.js', async: true },
                    { src: '{{.Site.BaseURL}}/reveal.js/plugin/multicolumn/multicolumn.js', async: true }
				]
			});
		</script>
	</body>
</html>
