{{ define "person" }}
    <div class="media">
      <div class="media-left">
        <a href="#">
            {{ if .Params.name }}
            <img class="media-object" src="/images/{{.Params.name}}.jpg">
            {{ else }}
            <i class="fa fa-user" style="font-size: 64px"></i>
            {{ end }}
        </a>
      </div>
      <div class="media-body">{{.Content}}</div>
    </div>
{{ end }}

<div class="row">
    <div class="col-md-6">
        <h3>Faculty</h3>
        {{ range where .Site.Sections.people "Page.Params.role" "faculty"}}
        {{ block "person" .Page }}{{ end }}
        {{ end }}
    </div>
    <div class="col-md-6">
        <h3>Graduate Students</h3>
        {{ range where .Site.Sections.people "Page.Params.role" "grad" }}
        {{ block "person" .Page }}{{ end }}
        {{ end }}
        <h3>Undergraduate Students</h3>
        {{ range where .Site.Sections.people "Page.Params.role" "undergrad" }}
        {{ block "person" .Page }}{{ end }}
        {{ end }}
    </div>
</div>
