{{ define "course" }}
    {{ $filearray := findRE "^([^.]+)" .LogicalName }}
    {{ $file := index $filearray 0 }}
    <div class="col-md-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
              <h3 class="panel-title">
                <a href="/courses/{{$file}}">
                   <i class="fa fa-chevron-right"></i> {{.Title}}
                </a>
              </h3>
          </div>
          <!--
          <div class="panel-body">{{.Summary}}</div>
          -->
        </div>
    </div>
{{ end }}

<h2>Undergraduate courses</h2>

<div class="alert alert-danger">
    <h3> This is <em>out-dated material</em></h3>
    <div class="row">
        {{ range where .Site.Sections.courses "Page.Params.level" "undergrad" }}
        {{ block "course" .Page }}{{end}}
        {{ end }}
    </div>
</div>

<div class="alert alert-success">
    <p>We are moving all the course material to an external Web service
    in order to support a better typesetting system.</p>

    <p>Go 
        <a href="/library" class="alert-link"> here 
            <span class="label label-info"><i class="fa fa-external-link"></i></span>
        </a>
    to access the
    update-to-date material.</p>
</div>

